#root {
  max-width: 1280px;
  margin: 0 auto;
 
  text-align: center;
  text-decoration: none;
  
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}
.botoes{
  display: flex;
  flex-direction: column;
 
}

ul{
  padding: 0;
}
li{
  list-style: none;
  text-align: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
 
}
button {
  width: 100px;
  height: 100px;
  background: #505050;
  color: white;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  margin: .6rem;
  transform: transition .5s;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

button:hover {
  transform: scale(1.1)translateY(-5px); ;
 background-color: #303030;
}

.exibicao{
  background-color: #242424;
  color: white;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  margin: .6rem;
  transform: transition .5s;
}
.calculadora {
  
  border-radius: 20px;
  padding: 20px;
  background-color: #060606;
  display: flex;
  flex-direction: column;
 
}


